html {
    font-size: 62.5%;
}

.header__pc-nav ,
.menu__card__card1__pc-img ,
.menu__card__card2__pc-img ,
.menu__card__card3__pc-img ,
.shop__top__pc-img ,
.shop__bottom__pc-img {
    display: none;
}
@media screen and (min-width:826px) {
    .header__sp-nav ,
    .menu__card__card1__sp-img ,
    .menu__card__card2__sp-img ,
    .menu__card__card3__sp-img ,
    .shop__top__sp-img ,
    .shop__bottom__sp-img {
        display: none;}

    .header__pc-nav ,
    .menu__card__card1__pc-img ,
    .menu__card__card2__pc-img ,
    .menu__card__card3__pc-img ,
    .shop__top__pc-img ,
    .shop__bottom__pc-img {
        display: inline;
    }
}



/*--------------------title 共通-----------------------*/
/* -------------h2 title------------- */
.over-view__title ,
.menu__tilte ,
.shop__title ,
.blog__title ,
.access__title {
    color: rgb(93,60, 40);
    font-size: 1.9rem;
    font-weight: bold;
    font-family: 'Sawarabi Gothic', sans-serif;
    letter-spacing: .2rem;
    padding: 50px 0 40px;
    text-align: center;
}
@media screen and (min-width:826px) {
    .over-view__title ,
    .menu__tilte ,
    .shop__title ,
    .blog__title ,
    .access__title {
        font-size: 2.2rem;
        padding: 100px 0 30px;
    }
}


/* -------------h3 title------------- */
.menu__card__card1__title ,
.menu__card__card2__title ,
.menu__card__card3__title ,
.shop__top__right__text-box__title ,
.shop__bottom__left__text-box__title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: start;
    padding: 15px 0;
}
@media screen and (min-width:826px) {
    .menu__card__card1__title ,
    .menu__card__card2__title ,
    .menu__card__card3__title ,
    .shop__top__right__text-box__title ,
    .shop__bottom__left__text-box__title{
        font-size: 1.5rem;
        letter-spacing: .2rem;
    }
}


/*--------------------img 共通-----------------------*/
.menu__card__card1__sp-img ,
.menu__card__card2__sp-img ,
.menu__card__card3__sp-img ,
.shop__top__sp-img ,
.shop__bottom__sp-img {
    width: 90vw;
}


/*--------------------more 共通-----------------------*/
.shop__top__more ,
.shop__bottom__more ,
.blog__more {
    color: #ffffff;
    font-size: 1.2rem;
    background-color: rgb(92, 60, 39);
    text-decoration: none;
    padding: 20px 80px;
    text-align: center;
    letter-spacing: .2rem;
}
@media screen and (min-width:826px) {
    .shop__top__more ,
    .shop__bottom__more ,
    .blog__more {
        padding: 15px 60px;
        font-size: 1rem;
    }
}

.shop__top__more--opacity:active ,
.shop__bottom__more--opacity:active ,
.blog__more--opacity:active ,
.blog__more--opacity:active{
    opacity: 0.8;
}
@media screen and (min-width:826px) {
    .shop__top__more--opacity:hover ,
    .shop__bottom__more--opacity:hover ,
    .blog__more--opacity:hover ,
    .blog__more--opacity:hover{
        opacity: 0.8;
    }

}

.shop__top__more ,
.shop__bottom__more {
    margin-top: 25px;
}


/*--------------------hader-----------------------*/
#header {
    width: 100vw;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 背景色付けないと文字だけになる */
    background-color: #ffffff;
}
@media screen and (min-width:826px) {
    #header {
        /* 上部固定 */
        position: fixed;
    }
}

.header__logo ,
.access__item-box__iitem__shop-name {
    color: rgb(93,60, 40);
    font-size: 3rem;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Sawarabi Gothic', sans-serif;
    letter-spacing: .05rem;
    padding-left: 10px;
}
@media screen and (min-width:826px) {
    .header__logo {
        padding-left: 100px;
    }

    .header__pc-nav {
        padding-right: 100px;
    }

    .header__pc-nav__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__pc-nav__link__menu ,
    .header__pc-nav__link__shop ,
    .header__pc-nav__link__blog ,
    .header__pc-nav__link__access {
        color: rgb(93,60, 40);
        font-size: 1.5rem;
        text-decoration: none;
        margin-left: 20px;
    }

    .header__pc-nav__link__menu--border:hover ,
    .header__pc-nav__link__shop--border:hover ,
    .header__pc-nav__link__blog--border:hover ,
    .header__pc-nav__link__access--border:hover {
        border-bottom: 2px dashed rgb(93,60, 40);
    }
}

/*--------------------top view-----------------------*/
.top-view {
    width: 100vw;
    background-image: url("../img/sample7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    padding: 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:826px) {
    .top-view {
        width: 100vw;
        background-image: url("../img/sample.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        padding: 250px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.top-view__text {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Sawarabi Gothic', sans-serif;
    letter-spacing: .2rem;
}
@media screen and (min-width:826px) {
    .top-view__text {
        padding-left: 100px;
    }
}



/*--------------------main-----------------------*/
.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*--------------------over view-----------------------*/
.over-view {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
@media screen and (min-width:826px) {
    .over-view {
        width: 50vw;
    }
}

.over-view__text1 ,
.over-view__text2 ,
.over-view__text3 {
    font-size: 1.5rem;
    text-align: start center;
    letter-spacing: .1rem;
    /* 単位指定したらいけん */
    line-height: 2.5;
}


/*--------------------menu-----------------------*/
#menu {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background-color: rgb(252,245, 239);
}

.menu--vw ,
.menu__card {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:826px) {
    .menu--vw {
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__card {
        width: 70vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.menu__card__card1 ,
.menu__card__card2 ,
.menu__card__card3 {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
@media screen and (min-width:826px) {
    .menu__card__card1 ,
    .menu__card__card2 ,
    .menu__card__card3 {
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .menu__card__card2 {
        margin: 0 30px;
    }

    .menu__card__card1__pc-img ,
    .menu__card__card2__pc-img ,
    .menu__card__card3__pc-img {
        width: 100%;
    }
}



.menu__card__card1__text ,
.menu__card__card2__text ,
.menu__card__card3__text {
    font-size: 1.3rem;
    letter-spacing: .3rem;
    line-height: 1.7;
    padding-bottom: 30px;
}
@media screen and (min-width:826px) {
    .menu__card__card1__text ,
    .menu__card__card2__text ,
    .menu__card__card3__text {
        font-size: 1rem;
        letter-spacing: .1rem;
        padding-bottom: 50px;
    }
}


/*--------------------shop-----------------------*/
#shop {
    width: 90vw;
    padding-bottom: 30px;
}
@media screen and (min-width:826px) {
    #shop {
        width: 70vw;
    }
}

.shop__top ,
.shop__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
@media screen and (min-width:826px) {
    .shop__top ,
    .shop__bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }

    .shop__bottom {
        flex-direction: row-reverse;
    }

    .shop__top__pc-img ,
    .shop__bottom__pc-img {
        width: 34vw;
    }

}

.shop__top__right ,
.shop__bottom__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}
@media screen and (min-width:826px) {
    .shop__top__right ,
    .shop__bottom__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 0px;
    }
    
    .shop__top__right {
        margin-left: 30px;
    }

    .shop__bottom__left {
        margin-right: 30px;
    }

}

.shop__top__right__text-box__text1 ,
.shop__top__right__text-box__text2 ,
.shop__bottom__left__text-box__text1 ,
.shop__bottom__left__text-box__text2 {
    font-size: 1.3rem;
    letter-spacing: .3rem;
    line-height: 1.7;
}
@media screen and (min-width:826px) {
    .shop__top__right__text-box__text1 ,
    .shop__top__right__text-box__text2 ,
    .shop__bottom__left__text-box__text1 ,
    .shop__bottom__left__text-box__text2 {
        font-size: 1rem;
        line-height: 1;
    }
    
    .shop__top__right__text-box__text1 ,
    .shop__bottom__left__text-box__text1 {
        margin-bottom: 15px;
    }

}


/*--------------------BLOG-----------------------*/
#blog {
    width: 100vw;
    background-color: rgb(252,245, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bolg--vw {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.blog__news {
    width: 90vw;
}
@media screen and (min-width:826px) {
    .bolg--vw ,
    .blog__news {
        width: 70vw;
    }
}

.blog__news__new1 ,
.blog__news__new2 ,
.blog__news__new3 ,
.blog__news__new4 ,
.blog__news__new5 {
    border-bottom: 1px solid #dbdbdb;
}
@media screen and (min-width:826px) {
    .blog__news__new1 ,
    .blog__news__new2 ,
    .blog__news__new3 ,
    .blog__news__new4 ,
    .blog__news__new5 {
        display: flex;
        flex-direction: row;
        padding: 15px 0;
    }
}

.blog__news__news1__date ,
.blog__news__news2__date ,
.blog__news__news3__date ,
.blog__news__news4__date ,
.blog__news__news5__date {
    color: #8b8b8b;
    font-size: 1.1rem;
    padding: 15px 0;
}
@media screen and (min-width:826px) {
    .blog__news__news1__date ,
    .blog__news__news2__date ,
    .blog__news__news3__date ,
    .blog__news__news4__date ,
    .blog__news__news5__date {
        color: #8b8b8b;
        font-size: .5rem;
        padding: 0 50px 0 0;
    }
}

.blog__news__news1__text ,
.blog__news__news2__text ,
.blog__news__news3__text ,
.blog__news__news4__text ,
.blog__news__news5__text {
    color: #000000;
    font-size: 1.2rem;
    text-decoration: none;
    padding-bottom: 15px;
    letter-spacing: .1rem;
    display: block;
}
@media screen and (min-width:826px) {
    .blog__news__news1__text ,
    .blog__news__news2__text ,
    .blog__news__news3__text ,
    .blog__news__news4__text ,
    .blog__news__news5__text {
        color: #000000;
        font-size: 1rem;
        text-decoration: none;
        padding-bottom: 0px;
        letter-spacing: .1rem;
        display: block;
    }

}

.blog__more {
    margin: 25px 0 50px;
}


/*--------------------ACCESS-----------------------*/
#access {
    width: 90vw;
}
@media screen and (min-width:826px) {
    #access {
        width: 70vw;
    }

}

.access__map {
    width: 100%;
    height: 200px;
}
@media screen and (min-width:826px) {
    .access__item-box {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;
    }
    
    .access__map {
        width: 35vw;
        height: 300px;
    }

}

.access__item-box__item ,
.access__item-box__item__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:826px) {
    .access__item-box__item ,
    .access__item-box__item__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }
}

.access__item-box__iitem__shop-name {
    padding: 30px 0 20px;
}

.access__item-box__item__text {
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.access__item-box__item__text__address-number ,
.access__item-box__item__text__address ,
.access__item-box__item__text__tel-number {
    padding-bottom: 5px;
}

.access__item-box__item__text__address {
    padding-bottom: 15px;
}
@media screen and (min-width:826px) {
    .access__item-box__item__text__address {
        padding-bottom: 10px;
    }

}

.access__item-box__item__text__fax-number {
    padding-bottom: 30px;
}

.access__item-box__item__sns-icon {
    padding-bottom: 60px;
}

.access__item-box__item__sns-icon__list {
    display: flex;
    justify-content: center;
    align-items: center;

}

.access__item-box__item__sns-icon__list__twitter {
    color: #00acee;
    margin-left: 20px;
}

.access__item-box__item__sns-icon__list__facebook {
    color: #3B5998;
}

.access__item-box__item__sns-icon__list__instagram {
    color: #262626;
    margin: 0 20px;
}

.access__item-box__item__sns-icon__list__line {
    color: #13B900;
}

.access__item-box__item__sns-icon__list__twitter--opacity:active ,
.access__item-box__item__sns-icon__list__facebook--opacity:active ,
.access__item-box__item__sns-icon__list__instagram--opacity:active ,
.access__item-box__item__sns-icon__list__line--opacity:active {
    opacity: 0.5;
}
@media screen and (min-width:826px) {
    .access__item-box__item__sns-icon__list__twitter--opacity:hover ,
    .access__item-box__item__sns-icon__list__facebook--opacity:hover ,
    .access__item-box__item__sns-icon__list__instagram--opacity:hover ,
    .access__item-box__item__sns-icon__list__line--opacity:hover {
        opacity: 0.5;
    }

}

/*--------------------footer-----------------------*/
.footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
    background-color: rgb(32, 14, 2);
    padding: 30px 0;
}